nav .brand-logo {
    padding-left: 1rem !important;
}

.slides h3 {
    font-size: 5rem !important;
}

#gallery {
    margin: 2rem !important;
}

.section-find-us i {
    margin: 10px 5px !important;
}

